@import "../styles/ease";
@import "../styles/mixin";

.flyoutMenu {
	position: relative;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
	padding: 0;
	border-radius: 1rem;
	overflow: hidden;
	background-color: #313131;
	transition: opacity $ease-out-max 250ms !important;
	margin: 0;
	right: 0;
	top: 0;
	width: fit-content;
	flex-shrink: 0;
	border: var(--border-color) 1px solid;
	
	> .flyoutMenuItem {
		padding: 0.5rem 2.25rem;
		margin: 0.5rem 0.5rem;
		border-radius: 0.5rem;
		display: flex;
		align-items: center;
		padding-left: 1.25rem;
		white-space: nowrap;
		
		i {
			margin-right: 1rem;
			
			&:not(.checkBox) {
				opacity: 0;
			}
		}
	}
	
	&.hide {
		opacity: 0;
		pointer-events: none;
	}
}

.menuMask {
	position: fixed;
	z-index: 4;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.circleMask {
	position: absolute;
	right: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	border-radius: 100%;
	@include flex-center;
	z-index: 5;
	opacity: 0;
	// background-color: #f008;
	
	&Enter {
		width: var(--width);
		height: var(--height);
		margin-right: var(--margin-right);
		margin-top: var(--margin-top);
		opacity: 1;
	}
}
