::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	scrollbar-arrow-color: red;
}

$scrollbar-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	box-shadow: $scrollbar-box-shadow;
	background: transparentize(white, 1 - 0.2);
	scrollbar-arrow-color: red;
}

::-webkit-scrollbar-track {
	border-radius: 0;
	box-shadow: $scrollbar-box-shadow;
	background: transparentize(white, 1 - 0.1);
}
