.midiTable {
	border-bottom: var(--border-color) 1px solid;

	> section {
		padding: 0.5rem 1rem;
		display: flex;
		align-items: center;
		cursor: pointer;

		&:last-of-type {
			padding-bottom: 0.75rem;
		}

		> label {
			display: flex;
			align-items: center;
			flex-shrink: 0;
			padding-right: 1rem;
			cursor: pointer;
		}

		> :last-child:not(.midiBpmShadow),
		> #midiBpmText {
			display: block;
			width: 100%;
			text-align: right;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		input {
			border: none;
			background-color: transparent;
			padding: 0;
		}
		
		&#midiBpmSection {
			cursor: text;
		}

		.midiBpmShadow {
			position: absolute !important;
			right: 2.5rem;
			pointer-events: none;
			color: transparent !important;
			
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 0.5px;
				background-color: var(--accent-color);
				transform: scaleX(0);
			}
		}
		
		&:hover .midiBpmShadow::after {
			background-color: black;
		}
		
		#midiBpmText:focus + .midiBpmShadow::after {
			transform: scaleX(1);
		}

		&::after {
			content: "";
			display: block;
			width: 0.75rem;
			height: 0.75rem;
			border: var(--foreground-color) solid;
			border-width: 0 1px 1px 0;
			transform: rotate(-45deg);
			flex-shrink: 0;
			margin-left: 0.75rem;
		}

		&:not(.option)::after {
			opacity: 0;
		}

		&:hover {
			&::after {
				border-color: black;
			}
		}
		
		&:focus-visible:not(:hover):not(:active),
		&:active:not(:hover) {
			&::after {
				border-color: white;
			}
			
			.midiBpmShadow::after {
				background-color: white;
			}
		}
	}

	i {
		font-size: 1rem;
		margin-right: 0.75rem;
	}
}