@import "../styles/ease";
@import "../styles/mixin";

.tabBar {
	margin-bottom: 0.5rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	
	> li {
		@include flex-center;
		width: 100%;
		padding: 0.5rem;
		white-space: nowrap;
		padding-bottom: 0.5rem;
		border-bottom: var(--border-color) 2px solid;
		transition: all $ease-out-max 250ms, color $ease-out-max 100ms, border-width $ease-out-max 100ms !important;
		
		i {
			margin-right: 0.5rem;
			font-size: 2rem;
			position: static !important;
			z-index: 0 !important;
		}
		
		&:hover:not(:focus-visible) {
			&,
			i {
				background-color: transparent;
				color: white;
			}
		}
		
		&:hover:active:not(:focus-visible) {
			&,
			i {
				border-width: 0;
			}
		}
		
		&.active:not(:hover):not(:active):not(:focus-visible) {
			&,
			i {
				color: var(--accent-color);
			}
		}
		
		&.active:hover:not(:focus-visible) {
			&,
			i {
				color: #97c1eb;
			}
		}
		
		&:active:not(:hover) {
			&,
			i {
				color: white;
			}
		}
	}
}

$indicator-height: 2px;

.indicator {
	width: calc(100vw / 3);
	height: $indicator-height;
	margin-top: -$indicator-height;
	position: relative;
	background-color: var(--accent-color);
	left: 0;
	transition: left $ease-out-max 500ms !important;
}
