@import "../styles/ease";

.tab-bar {
	margin-bottom: 0.5rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	
	> li {
		display: flex;
		width: 100%;
		justify-content: center;
		padding: 0.5rem;
		
		i {
			margin-right: 0.5rem;
			font-size: 2rem;
		}
		
		&:hover:not(:focus-visible) {
			&,
			i {
				background-color: transparent;
				color: white;
			}
		}
		
		&.active:not(:hover):not(:active):not(:focus-visible) {
			&,
			i {
				color: var(--accent-color);
			}
		}
		
		&.active:hover:not(:focus-visible) {
			&,
			i {
				color: #97c1eb;
			}
		}
	}
}

.indicator {
	width: calc(100vw / 3);
	height: 2px;
	position: relative;
	background-color: var(--accent-color);
	left: 0;
	transition: left $ease-in-out-expo 500ms !important;
}
